body{
    background-color: darkgreen;
}
h1,#dealer-cards{
    text-align: center;
}

section{
    height: 180px;     
}

#player-handvalue,#deck-cards,#buttons,#turn,#dealer-handvalue{
    width: 14.5%;
    
}
#player-cards,#message,#dealer-cards{
    width: 70%;
}


#player-cards, #buttons, #player-handvalue,#message,#deck-cards,#dealer-handvalue,#dealer-cards,#turn{
    display: inline-block;
    text-align: center;
    vertical-align: middle   
}
#player-cards, #dealer-cards{
    height: 156.813px;
    text-align: right
}
#deck-cards{
    vertical-align: top;
    height: inherit;
}
#deck-cards-container{
    width: 100px;
}
button{
    display: block;
    width: 90px;
    height: 30px;
    text-align: center;
    margin: auto
}
img{
    width: 100px;    
}
#player-cards>img:hover,#dealer-cards>img:hover{
    z-index: 10000 !important;
}
.card-container{
    display: inline-block;
}
#player-cards > div,#dealer-cards>div{
    display: inline-block;
}




.card-back{
    position: absolute;
}
.card-back-com{
    transform: translate(0,0) !important;
}

.card-front{
    transform: rotate3d(0,1,0,180deg) translate(0,0) !important;
}

.card-turning{
    transform: rotate3d(0,1,0,180deg);
    transition: transform 250ms linear 0;
}

.card-on-deck{
    transition-property: top,left;
    transition-duration: 500ms;
    transition-timing-function: linear;
    /* transition-delay: 1s; */
    

}

.card-dealing{
    position: fixed;
    transition-property:  top, left;
    transition-duration: 600ms;
    transition-timing-function: linear;
    /* transition-delay: 1s; */
}

.card-dealt{
    position: relative;
    top: auto ;
    left: auto;
    
}